@import "./mobile";

.container {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  h1 {
    color: #444;
    margin: 20px;
    border-bottom: 4px solid #ffaf02bd;
  }

  b {
    display: block;
    gap: 2px;
    span {
      background-color: #ffaf02;
      padding: 3px 0;
    }
  }
  table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    overflow: scroll;
    tbody {
      height: 100%;
    }
    tr {
      background-color: #ffffff33;
      .index {
        display: flex;
        justify-content: space-around;
        align-items: center;
        span {
          font-weight: bold;
          color: #444444db;
        }
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          padding: 10px;

          .btn-edit {
            font-size: 20px;
            margin-right: 4px;
            border: none;
            background: none;
            color: rgb(0, 147, 0);
            cursor: pointer;
            &:hover {
              transform: scale(1.2);
            }
          }
          .btn-delete {
            font-size: 18px;
            border: none;
            background: none;
            color: rgb(225, 3, 3);
            cursor: pointer;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }

      th {
        padding: 10px 15px;
        background: #ffaf02;
        color: #444;
        padding: 15px 15px;
      }
      td {
        text-transform: capitalize;
        padding: 10px 15px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      }
    }
    .cift {
      background: #ffaf0246;
    }
  }
}
