@import "./jobList";
@import "./addJob";
@import "./header";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: linear-gradient(
    135deg,
    rgba(34, 193, 195, 1) 1%,
    rgba(253, 187, 45, 0.898) 99%
  ) no-repeat center  ;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.App{
  padding: 0 100px;
}
