@import "./jobList";
@import "./addJob";
@import "./header";
@import "./mobile";
@import "./tablet";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  background: linear-gradient(
    135deg,
    rgba(34, 193, 195, 1) 1%,
    rgba(253, 187, 45, 0.898) 99%
  );
background-position: center; 
background-size: cover;
background-repeat: no-repeat;


}
.App{
  padding: 0 10%;
  
}
